---
import Facebook from "@assets/FacebookLogoFooter.svg"
import Instagram from "@assets/InstagramLogoFooter.svg"
import X from "@assets/XLogoFooter.svg"
import Youtube from "@assets/YoutubeLogo.svg"

import APCapacitacionFE from "@assets/APCapacitacionFE.pdf"
import APRegistroV from "@assets/APRegistroV.pdf"
import APAtencionC from "@assets/APAtencionC.pdf"

const socials = [
    {
        title: "Facebook",
        src: Facebook.src,
        href: "https://www.facebook.com/BancadaNaranjaD",
    },
    {
        title: "Instagram",
        src: Instagram.src,
        href: "https://www.instagram.com/dipciudadanomx?igsh=MXdnbmE3YXIwN3VnZw==",
    },
    {
        title: "X",
        src: X.src,
        href: "https://x.com/BancadaNaranjaD",
    },
    {
        title: "Youtube",
        src: Youtube.src,
        href: "https://www.youtube.com/@BancadaNaranjaD",
    },
];
---

<footer id="RedesSociales" class="px-2 py-8 bg-gray-bg">
    <div class="flex gap-5 items-center justify-between bg-orange-bnd rounded-2xl px-4 py-4 max-w-[1000px] mx-auto">
        <div class="flex flex-col gap-2">
		<a class="font-semibold text-white text-sm max-[640px]:text-[11px] hover:underline" href={APCapacitacionFE} target="_blank"
            >Aviso de Privacidad Integral "Capacitación, Foros y Eventos"</a>
		<a class="font-semibold text-white text-sm max-[640px]:text-[11px] hover:underline" href={APRegistroV} target="_blank"
            >Aviso de Privacidad Integral "Registro de visitantes"</a>
		<a class="font-semibold text-white text-sm max-[640px]:text-[11px] hover:underline" href={APAtencionC} target="_blank"
            >Aviso de Privacidad Integral "Atención Ciudadana"</a>

	</div>
	        <div class="flex items-center gap-2">
            {
                socials.map((social) => (
                    <a href={social.href} target="_blank">
                        <img class=" w-[100px] h-[100px] max-w-10 max-[500px]:max-w-8" src={social.src} alt="" />
                    </a>
                ))
            }
        </div>
    </div>
</footer>
